.activity-card-header{
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
}
.username-comp{
    margin-left: 0.8rem;
}
.activcontencard{
    margin-top: 0.5rem !important;
    width: 100%;
}
.activeDescription{
    padding: 0.7rem;
    height: 100px;
    background-color: var(--background-light-blue);
    max-height: 300px;
    overflow-y: scroll;
}

.activeDescription::-webkit-scrollbar{
    display: none;
}